
<mat-grid-list cols="2">
   <mat-grid-tile >
    <mat-card class="example-card">
      <mat-card-header>
       
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Kc Philip E. Laguna</mat-card-title>
          
        <mat-card-subtitle>IT Student</mat-card-subtitle>
       
      </mat-card-header>
    </mat-card>
   </mat-grid-tile>
   <mat-grid-tile>
    <mat-card-content >
      <p>
        <mat-card>Address:<br>Brgy 77 Marasbaras Tacloban City</mat-card>
        <mat-card>Age:<br>21</mat-card>
        <mat-card>Sex:<br>Male</mat-card>
        
          <mat-card>Status:<br>Single</mat-card>
        <mat-card>Religion:<br>Roman Catholic</mat-card>         
        
      </p>
      
    </mat-card-content>
  
   </mat-grid-tile>

  </mat-grid-list>
