header{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: white;
}

h1{
  position: absolute;
  font-size: 30px;
  left: 100px;
  top: 100px;
  color: red;
}
h1:hover{
  color: white;
}

table{
    margin-left: 200px;
    margin-top: 25px;
  }
  
  .example-card {
    max-width: 200px;
  
    margin-left: 10px;
    margin-right: 10px;
  }
  img{
    height: 200px;
  }
  
  